input {
  display: block;
  height: 35px;
  font-size: 16px;
  border: 2px solid #acacac;
  border-radius: 5px;
}

label {
  position: relative;
  top: -32px;
  left: 10px;
  font-size: 16px;
  color: #acacac;
  transition: all 0.2s ease-out;
}

input:valid + label {
  color: #acacac;
  top: -50px;
  background-color: #fff;
}

input:focus {
  outline: none;
  border: 2px solid #00aced;
}

input:focus + label {
  color: #00aced;
  top: -50px;
  background-color: #fff;
}

